/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
composer.lock
/.phpunit.result.cache
/tests/var/cache/*
/tests/var/logs/*
/.phpunit.cache/
/graphify-out/
/tools/api-client/vendor/
/tools/api-client/build/
/tools/api-client/.phpunit.cache/
/tools/api-client/dist/*.phar
!/tools/api-client/composer.lock
# Configuration file of the CLI client (tools/api-client/), written by website:auth:login, it contains an API key
east-website.json
